---
import Base from '../../layouts/Base.astro';
---
<Base title="BeWildfireAware - Dispatch Areas" active="dispatch">
  <main>
    <section class="dispatch-areas" id="dispatch-areas">
      <h2>Dispatch Areas</h2>
      <p>Explore the current wildfire danger in your area by selecting a specific region from the Dispatch Areas dropdown menu above.</p>
    </section>
  </main>
  <div class="iframe-container">
    <iframe
      src="https://www.google.com/maps/d/embed?mid=1-J_VEIRPmFNzhZ6BDQoWzloPLUTQ2us&ehbc=2E312F&noprof=1"
      width="640"
      height="480"
      title="Dispatch Area Map"></iframe>
  </div>
</Base>
